/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
body {
    background: #222;
    height: 100%;
    width: 100%;
}
app-root {
    width: 100%;
    height: 100%;
}
html {
    height: 100%;
    width: 100%;
}